.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 25px;

}

@media(max-width:767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__field {
    padding: 10px;
    border: 2px solid #ddd;
}

.form__field::placeholder {
    color: rgb(211, 211, 211);
    padding-left: 10px;
}

.form__addTaskButton {
    padding: 10px;
    background-color: teal;
    color: #fff;
    border: none;

}
