.list {
    list-style-type: none;
    padding: 0;
}

.list__item {
   display: grid;
   grid-template-columns: auto 1fr auto;
   border-bottom: 1px solid #ddd;
   padding: 10px;
   align-items: center;
}

.list__task--done {
    text-decoration: line-through;
}
.list__task--hidden{
    visibility: hidden;
}
.list__task {
    word-break: break-word;
    flex-basis: 100%;


}

.list__button {
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    border: none;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.list__button--done{
    background-color: green;
    
}
.list__button--remove {
    background-color: red;
}